---
http_interactions:
- request:
    method: post
    uri: https://verifier.globalnames.org/api/v1/verifications
    body:
      encoding: UTF-8
      string: '{"names":["Homo sapiens","Mus musculus"]}'
    headers:
      Content-Type:
      - application/json
      X-User-Agent:
      - Faraday v2.14.0 Checkerberry v0.1.0
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"names":[{"inputId":"","input":"Homo sapiens","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitle":"Catalogue
        of Life","taxonId":"6W6RY","matchedName":"Homo sapiens","matchedCanonicalSimple":"Homo
        sapiens","matchedCanonicalFull":"Homo sapiens","currentName":"Homo sapiens","currentCanonicalSimple":"Homo
        sapiens","currentCanonicalFull":"Homo sapiens","synonym":false,"classificationPath":"Biota|Animalia|Chordata|Mammalia|Primates|Hominidae|Homo","classificationRanks":"unranked|kingdom|phylum|class|order|family|genus","editDistance":0,"stemEditDistance":0,"matchedWords":"2/2"}},{"inputId":"","input":"Mus
        musculus","matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitle":"Catalogue
        of Life","taxonId":"6W8RM","matchedName":"Mus musculus","matchedCanonicalSimple":"Mus
        musculus","matchedCanonicalFull":"Mus musculus","currentName":"Mus musculus","currentCanonicalSimple":"Mus
        musculus","currentCanonicalFull":"Mus musculus","synonym":false,"classificationPath":"Biota|Animalia|Chordata|Mammalia|Rodentia|Muridae|Mus","classificationRanks":"unranked|kingdom|phylum|class|order|family|genus","editDistance":0,"stemEditDistance":0,"matchedWords":"2/2"}}]}'
  recorded_at: Mon, 22 Oct 2025 16:00:00 GMT
recorded_with: VCR 6.3.1
