---
http_interactions:
- request:
    method: post
    uri: https://verifier.globalnames.org/api/v1/verifications
    body:
      encoding: UTF-8
      string: '{"nameStrings":["Homo sapiens","Mus musculus"]}'
    headers:
      Content-Type:
      - application/json
      X-User-Agent:
      - Faraday/v2.14.0 Checkerberry/v0.0.1
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"namesNumber":2,"statsNamesNum":2},"names":[{"id":"16f235a0-e4a3-529c-9b83-bd15fe722110","name":"Homo
        sapiens","cardinality":2,"matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue
        of Life","curation":"Curated","recordId":"6MB3T","outlink":"https://www.catalogueoflife.org/data/taxon/6MB3T","entryDate":"2025-08-27","sortScore":9.412152479890551,"matchedNameID":"7db4f8a2-aafe-56b6-8838-89522c67d9f0","matchedName":"Homo
        sapiens Linnaeus, 1758","matchedCardinality":2,"matchedCanonicalSimple":"Homo
        sapiens","matchedCanonicalFull":"Homo sapiens","currentRecordId":"6MB3T","currentNameId":"7db4f8a2-aafe-56b6-8838-89522c67d9f0","currentName":"Homo
        sapiens Linnaeus, 1758","currentCardinality":2,"currentCanonicalSimple":"Homo
        sapiens","currentCanonicalFull":"Homo sapiens","taxonomicStatus":"Accepted","isSynonym":false,"classificationPath":"Eukaryota|Animalia|Chordata|Vertebrata|Gnathostomata|Osteichthyes|Tetrapoda|Mammalia|Theria|Eutheria|Primates|Haplorrhini|Simiiformes|Hominoidea|Hominidae|Homininae|Homo|Homo
        sapiens","classificationRanks":"domain|kingdom|phylum|subphylum|infraphylum|parvphylum|megaclass|class|subclass|infraclass|order|suborder|infraorder|superfamily|family|subfamily|genus|species","classificationIds":"CS5HF|N|CH2|8V4V3|8V4V5|8VVWB|9CK8W|BMGVD|924GT|LG|BMGW3|4DT|4PM|58L|6256T|JPH|636X2|6MB3T","editDistance":0,"stemEditDistance":0,"matchType":"Exact","scoreDetails":{"cardinalityScore":1,"infraSpecificRankScore":0,"fuzzyLessScore":1,"curatedDataScore":1,"authorMatchScore":0.14285715,"acceptedNameScore":1,"parsingQualityScore":1}},"dataSourcesNum":32,"dataSourcesIds":[1,2,3,4,7,8,9,10,11,12,107,122,123,153,159,163,164,166,168,169,170,172,174,179,180,183,184,194,200,207,209,210],"curation":"Curated"},{"id":"110efec8-e876-5509-80e4-54f616b1c109","name":"Mus
        musculus","cardinality":2,"matchType":"Exact","bestResult":{"dataSourceId":1,"dataSourceTitleShort":"Catalogue
        of Life","curation":"Curated","recordId":"7VW9H","outlink":"https://www.catalogueoflife.org/data/taxon/7VW9H","entryDate":"2025-08-27","sortScore":9.412152479890551,"matchedNameID":[...]
